.info-icon {
    transition: 0.2s ease all;
    color: var(--grey);
}

.info-icon:hover {
    opacity: 0.7;
    cursor: pointer;
}

.message {
    display: block;
    position: absolute;
    transform: translateX(-45%);
    background-color: var(--white);
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 20px 20px 99px -26px var(--shadow);
    color: var(--black);
    max-width: 200px;
}

.hide-message {
    display: none;
}

@media screen and (max-width: 650px) {
    .message {
        width: 400px;
    }
}
